<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <appSettings>
    <add key="appLocale" value="US"/>
    <add key="applePrice" value ="1.16"/>
    <add key="pearPrice" value ="0.89"/>
    <add key="orangePrice" value ="2.19"/>
    <add key="grapePrice" value ="3.65"/>
    <add key="peachPrice" value ="6.18"/>
  </appSettings>
  
  
</configuration>